{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base"
  ],
  "plugins": [
  ],
  "env": {
    "jest": true
  },
  "rules": {
    "no-tabs": "off",
    "indent": "off",
    "semi": "off",
    "no-shadow": "off",
    "no-underscore-dangle": "off",
    "max-len": "off",
    "comma-dangle": "off",
    "object-curly-newline": "off",
    "brace-style": "off",
    "class-methods-use-this": "off",
    "no-lonely-if": "off",
    "quotes": "off",
    "padded-blocks": "off",
    "no-plusplus": "off",
    "guard-for-in": "warn",
    "no-restricted-syntax": "warn",
    "newline-per-chained-call": "off",
    "no-multi-str": "warn",
    "prefer-destructuring": "off"
  }
}
